In [1]:
import pandas as  pd

In [2]:
ipl=pd.read_csv("ipl2024 Matches.csv")

In [3]:
print(ipl)

    id           date      team1      team2 toss_winner decision  first_score  \
0    1  March 22,2024   Banglore    Chennai    Banglore      Bat          173
1    2  March 23,2024      Delhi     Punjab      Punjab    Field          174
2    3  March 23,2024    Kolkata  Hyderabad   Hyderabad    Field          208
3    4  March 24,2024  Rajasthan    Lucknow   Rajasthan      Bat          193
4    5  March 24,2024    Gujarat     Mumbai      Mumbai    Field          168
..  ..            ...        ...        ...         ...      ...          ...
69  70    May 19,2024  Rajasthan    Kolkata     Kolkata      NaN            0
70  71    May 21,2024  Hyderabad    Kolkata   Hyderabad      Bat          159
71  72    May 22,2024   Banglore  Rajasthan   Rajasthan    Field          172
72  73    May 24,2024  Hyderabad  Rajasthan   Rajasthan    Field          175
73  74    May 26,2024  Hyderabad    Kolkata   Hyderabad      Bat          113

    first_wkts  second_score  second_wkts     winner  player_of_the_match  \
0            6           176            4    Chennai    Mustafizur Rahman
1            9           177            6     Punjab           Sam Curran
2            7           204            7    Kolkata        Andre Russell
3            4           173            6  Rajasthan         Sanju Samson
4            6           162            9    Gujarat        Sai Sudharsan
..         ...           ...          ...        ...                  ...
69           0             0            0  Abandoned                  NaN
70          10           164            2    Kolkata       Mitchell Starc
71           8           174            6  Rajasthan  Ravichandran Ashwin
72           9           139            7  Hyderabad        Shahbaz Ahmed
73          10           114            2    Kolkata       Mitchell Starc

           most_runs          most_wkts
0         Anuj Rawat  Mustafizur Rahman
1         Sam Curran      Kuldeep Yadav
2      Andre Russell        T Natarajan
3       Sanju Samson        Trent Boult
4      Dewald Brevis     Jasprit Bumrah
..               ...                ...
69               NaN                NaN
70      Shreyas Iyer     Mitchell Starc
71  Yashasvi Jaiswal         Avesh Khan
72      Dhruv Jurel       Shahbaz Ahmed
73    Venkatesh Iyer      Andre Russell

[74 rows x 14 columns]

In [4]:
colum=ipl.columns
print(colum)

Index(['id', 'date', 'team1', 'team2', 'toss_winner', 'decision',
       'first_score', 'first_wkts', 'second_score', 'second_wkts', 'winner',
       'player_of_the_match', 'most_runs', 'most_wkts'],
      dtype='object')

In [5]:
datatype=ipl.dtypes
print(datatype)

id                      int64
date                   object
team1                  object
team2                  object
toss_winner            object
decision               object
first_score             int64
first_wkts              int64
second_score            int64
second_wkts             int64
winner                 object
player_of_the_match    object
most_runs              object
most_wkts              object
dtype: object

In [6]:
ipl.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74 entries, 0 to 73
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   74 non-null     int64
 1   date                 74 non-null     object
 2   team1                74 non-null     object
 3   team2                74 non-null     object
 4   toss_winner          74 non-null     object
 5   decision             71 non-null     object
 6   first_score          74 non-null     int64
 7   first_wkts           74 non-null     int64
 8   second_score         74 non-null     int64
 9   second_wkts          74 non-null     int64
 10  winner               74 non-null     object
 11  player_of_the_match  71 non-null     object
 12  most_runs            71 non-null     object
 13  most_wkts            71 non-null     object
dtypes: int64(5), object(9)
memory usage: 8.2+ KB

In [8]:
ipl.describe()

              id  first_score  first_wkts  second_score  second_wkts
count  74.000000    74.000000   74.000000     74.000000    74.000000
mean   37.500000   180.554054    6.148649    169.054054     5.783784
std    21.505813    51.855474    2.469998     47.651386     2.934305
min     1.000000     0.000000    0.000000      0.000000     0.000000
25%    19.250000   162.250000    4.250000    145.250000     3.250000
50%    37.500000   182.500000    6.000000    173.500000     6.000000
75%    55.750000   208.000000    8.000000    198.250000     8.000000
max    74.000000   277.000000   10.000000    262.000000    10.000000

# New section